includes:
	# - phpstan.dev.neon
parameters:
	level: max
	paths:
		- Src/
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			messages:
				- '#^Parameter \#1 \$name of class TheWebSolver\\Codegarage\\Generator\\Parameter constructor expects string, mixed given\.$#'
				- '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
				- '#^Parameter \#1 \$value of class Nette\\PhpGenerator\\Literal constructor expects string, mixed given\.$#'
			path: Src/Parameter.php
		- # ::set() method is difficult to infer.
			path: Src/ArrayPhpFile.php
			message: '|Parameter \&\$array|'
			identifier: paramOut.type
			count: 2
		- # ::set() method is difficult to infer.
			path: Src/ArrayPhpFile.php
			message: '#^Cannot access offset string on mixed.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
		- # PhpNamespace::getUses() method's return value is legit.
			path: Src/Traits/NamespaceImporter.php
			message: '|\$currentTypeImports \(array\<string, string\>\) does not accept array\<string\>|'
			identifier: assign.propertyType
			count: 1
