includes:
	# - phpstan.dev.neon
parameters:
	level: max
	paths:
		- Src/
	excludePaths:
		- vendor/
	ignoreErrors:
		-
			messages:
				- '#^Parameter \#1 \$name of class TheWebSolver\\Codegarage\\Generator\\Parameter constructor expects string, mixed given\.$#'
				- '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
				- '#^Parameter \#1 \$value of class Nette\\PhpGenerator\\Literal constructor expects string, mixed given\.$#'
			path: Src/Parameter.php
